<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Query</title>
</head>
<body>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>
    <label>Contact-us</label>
    <div class="form-group">
        <label for="exampleInputfirstname">First Name</label>
        <input type="text" class="form-control" formControlName="firstname" placeholder="First Name">
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.firstname.touched && contactForm.controls.firstname.errors?.required">
            Please enter first name.!
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputlastname">Last Name</label>
        <input type="text" class="form-control" formControlName="lastname" placeholder="Last Name">
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.lastname.touched && contactForm.controls.lastname.errors?.required">
            Please enter last name.!
        </small>
    </div>


    <div class="form-group">
        <label for="exampleInputphonenumber">Phone Number</label>
        <input type="number" class="form-control" formControlName="phonenumber" placeholder="Phone Number">
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.phonenumber.touched && contactForm.controls.phonenumber.errors?.required">
            Please enter phone number.!
        </small>
    </div>

    <div class="form-group">
        <label for="exampleInputemail">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Eamil">
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.required">
            Please enter email.!
        </small>
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors?.email">
            Enter the valid email .!
        </small>
    </div>
    <div class="form-group">
        <label for="exampleInputmessage">Message</label>
        <textarea type="text" class="form-control" formControlName="message" placeholder="Message"></textarea>
        <small class="form-text text-muted"
            *ngIf="contactForm.controls.message.touched && contactForm.controls.message.errors?.required">
            Please enter message.!
        </small>

    </div>
    <button type="submit" >Submit</button>

</form>
</body>
</html>

