<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View</title>
</head>
<body>
  <div class="container">
 <h1>HEALTH</h1>
 <a href="#" routerLink="/post/create/" class="btn btn-success">Create New Post</a>
 <table class="table table-bordered">


<tr>
  <th scope="col">Id</th>
  <th scope="col">Name</th>
  <th scope="col">Phone</th>
  <th scope="col">Email</th>
  <th scope="col">Age</th>
  <th scope="col">Address</th>
  <th scope="col">Trainer Preference</th>
  <th scope="col">Physio Required</th>
  <th scope="col">Package</th>
  <th scope="col">Total Amount</th>
</tr>

 <tr *ngFor="let item of data">

  <td>{{item.id}}</td>
 <td>{{item.name}}</td>
 <td>{{item.mobile}}</td>
 <td>{{item.email}}</td>
 <td>{{item.age}}</td>
 <td>{{item.address1 + " "+ item.address2}}</td>
 <td>{{item.trainer}}</td>
 <td>{{item.physio}}</td>
 <td>{{item.package}}</td>
 <td>{{item.amount}}</td>

</tr>
 </table>

</div>



</body>
</html>

